@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.logo {
  padding-right: 70px;
}

body {
  background-color: #F2F2F2;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-align: center;
  padding: 40px;

}

Ul {
  list-style-type: none;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 485px;

}

.Subscribe {
  background-image: url("../images/blurred-background.png");
  width: 1200px;
  height: 414.856px;
  padding: 96px 258px 104px 258px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
