@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #F2F2F2;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-align: center;
  padding: 40px;

}

.logo {
  padding-right: 70px;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 485px;

}

.Subscribe-title{
  background-image: url("../images/blurred-background.png");
  width: 1200px;
  height: 414.856px;
  padding-top: 96px;
  padding-bottom: 104px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.hotel-filters{
  background-image: url("../images/blurred-background.png");
  background-repeat: no-repeat;
  width: 1200px;
}

div#advantages-true-city {
  width: 400px;
  height: 385px;
  border: 1px solid;
  background: #82B3D3;
  padding: 103px, 85px, 103px, 85px

  }
